@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');
@import "button.css";

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: "Montserrat";
    color: white;

    user-select: none;
}

body {
    background-color: black;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8vw;
    height: 8vw;

    overflow: visible !important;
}

.title-text {
    font-size: 7vw;
    margin-left: 20px;
    display: flex;
    justify-content: right;
}

.title-text span {
    font-weight: lighter;
    font-size: .5em;
    margin-left: 10px;
}

.title img {
    width: 8vw;
}

.title-hider {
    overflow: hidden;
    display: inline;
}

.title-centerer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animatable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: calc(8vw + 50px);
}

#mainCanvas {
    opacity: 0%;
    animation-direction: reverse;
}

.result {
    position: absolute;
    background-color: lime;
    color: black;
    font-size: 100px;
    padding: 50px;
    display: none;
    opacity: 0;
}

.result.bad {
    background-color: red;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.blur {
    filter: blur(10px);
    transition: .5s;
}